@{
    ViewBag.Title = "КиноТеатр";
}

<div class="films-area">
    @foreach (var item in Model)
    {
        <div class="film-item">
            <a href="@Url.Action("FilmInfo", "Home", new { id = @item.FilmID })">
                <div class="film-logo">
                    <img src="~/Content/img/films.img/@item.FilmImage" alt="Alternate Text" />
                </div>
            </a>
            <div class="film-label">
                <a href="@Url.Action("FilmInfo", "Home", new { id = @item.FilmID })">
                    <span>@item.FilmName</span>
                </a>
                <div class="film-short-info">
                    <div class="film-director">
                        <span>Режиссер:</span> <span>@item.Director</span>
                    </div>
                    <div class="film-director">
                        <span>Жанр: </span> <span>@item.Genre</span>
                    </div>
                </div>
            </div>
            <div class="film-button">
                @Html.ActionLink("Перейти к сеансам", "FilmInfo", "Home", new { id = @item.FilmID }, new { @class = "button" })
            </div>
        </div>
    }
</div>
