@using System.Web.UI.WebControls;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-content">
                <div class="header-logo">
                    <a href="@Url.Action("Index", "Home")">
                        <div class="logo">
                            <img src="~/Content/img/logo.jpg" alt="logo">
                        </div>
                    </a>
                    <span class="header-label">Фильмы в прокате</span>
                </div>
                <div class="header-advertising">
                    <a href="" class="remove-toggle">Сдать билеты обратно</a>
                    <!-- modal -->
                </div>
            </div>
        </header>
        <div class="container">
            <!-- items inside -->
            @RenderBody()
        </div>
        <footer class="footer">
            <div class="footer-logo">
                <img src="~/Content/img/logo.jpg" alt="logo">
            </div>
            <div class="footer-contacts">
                <span>Phone: 123-456-78-9</span>
                <span>E-Mail: mail@@gmail.com</span>
            </div>
        </footer>
    </div>
    <div class="ordered-active">
        <div class="tickets-ordered">
            <span>Ваши билеты были зарезервированы</span>
            @Html.ActionLink("Перейти на главную страницу", "Index", "Home", new { }, new { @class = "button" })
        </div>
    </div>
    <div class="remove-ticket-form hidden">
        @using (Html.BeginForm("RemoveTickets", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true);
            <span class="remove-form-label">Возврат билетов</span>
            <div class="remove-form">
                <div class="remove-form-item">
                    <span>Выберите фильм:</span>
                    @Html.DropDownList("FilmID", ViewBag.Films as SelectList, new { id = "remove-film", required = true })
                </div>
                <div class="remove-form-item">
                    <span>Выберите фильм:</span>
                    <div id="remove-film-seances">

                    </div>
                </div>
                <div class="remove-form-item">
                    <span>Введите номера мест по шаблону (x,y;):</span>
                    @Html.TextBox("Tickets", "", new { placeholder = "Введите номера", required = true })
                </div>
                <div class="remove-form-buttons">
                    <button class="remove-toggle">Отмена</button>
                    <input type="submit" value="Вернуть билеты" />
                </div>
            </div>
        }
    </div>
    @if (ViewBag.Remove != null && ViewBag.Remove == -1)
    {
        <div class="remove-notice">
            <span>Таких билетов не существует</span>
            <button class="remove-notice-close">Понятно</button>
        </div>
    }
    else if (ViewBag.Remove != null && ViewBag.Remove == 0)
    {
        <div class="remove-notice">
            <span>Билеты были возвращены</span>
            <button class="remove-notice-close">Понятно</button>
        </div>
    }
    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", required: false)
</body>
</html>
